{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="contact" id="contact">
  <div class="contact-text">
      <h2>contact <span>Me</span></h2>
      <h4>Let's talk</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eligendi voluptas nulla perspiciatis magnam cum unde quam dolorem officia hic.</p>
      <div class="contact-list">
        <li><i class="fa-regular fa-paper-plane"></i> sanjaymullangi@gmail.com</li>
        <li><i class="fa-solid fa-phone"></i> 93927*****</li>
      </div>
      <div class="contact-icons">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-whatsapp"></i></a>
      <a href=""><i class="fa-brands fa-github"></i></a>
      <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
  </div>
  <div class="submitted" style=" margin: 0 0 200px 300px">

  <p class = 'sub' style= "color:cyan;;">response submitted <br>
     <span style="color:white;font-size:35px;margin-left:-100px">Thank you for connecting</span> </p>
     <!-- <button class ="return" style="  padding: 12px 28px;
     display: inline-block;
     border-radius: 40px;
     color: #081b29;
     letter-spacing: 0.7px;
     border: 2px solid #0ef;
     font-weight: 600;
     font-size: 20px;
     box-shadow: 0 0  20px #0ef;
     text-decoration: none;
     border-radius: 23px;
     margin-top: 35px;"><a href=""><-- Go back</a></button> -->
    </div>
  
  </div>
</section>
<script>

</script>