{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body>
  <div class="header">
    <a href="" class="logo"><i class="fa-brands fa-studiovinari"></i></a>
    <input type="checkbox" name="" id="nav_check" hidden>
    <nav class="navbar">
      <a href="#home " class = 'active'>Home</a>
      <a href="#about">About</a>
      <a href="#services">services</a>
      <a href="#skills">skills</a>
      <a href="#contact">contact</a>
    </nav>
    <label for="nav_check" class="burger">
      <div></div>
      <div></div>
      <div></div>
    </label>
  </div>
  <section class="home" id="home">
  <!-- <div class="home"> -->
    <div class="home-content">
      <h3>Hello, It's me</h3>
      <h1>Sanjay...</h1>
      <h3>and I'm a <span class="text"></span></h3>
      <p>Future ML engineer</p>
      <div class="home-icons">
        <!-- <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a> -->
        <a href="https://www.instagram.com/invites/contact/?igsh=ecdi3cay0oc8&utm_content=idp10p8"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sanjay-mullangi-2a0578290/"><i class="fa-brands fa-linkedin "></i></a>
        <a href="https://github.com/sanjaykumar079"><i class="fa-brands fa-github"></i></a>
      </div>
      <div >
        <a class="more-btn" href="#about">Get more</a>
        <!-- <button class="more-btn">More about me</button> -->
      </div>
    </div>
   
  </div>
</section>
 {% block about %}<section>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <div class="about" id="about">
    <div class="about-img"><img src="{% static 'css/m5.jpg' %}" alt=""></div>
    <div class="about-text">
      <h2>About <span>Me</span></h2>
      <h4>Frontend Web developer</h4>
      <p>Skilled in building responsive, interactive, and user-friendly web applications using HTML, CSS, and JavaScript.
      </p>
      <div >
        <a class="more-btn" href="#services">Get more</a>
        <!-- <button class="more-btn f" id="skills">More about me</button> -->
      </div>
    </div>
  </div>
  
</div>
</section> {% endblock %}
<section>
  <div class="services" id="services">
    <div class="container">
      <h1 class="sub-title">My <span>service(s)</span></h1>
      <div class="services-list">
        <div>
          <i class="fa-solid fa-code" style="color: #00eeff;"></i>    

          <h2>Frontend Web dev</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eligendi iusto aliquid quis id perferendis inventore iste assumeum animi, sit, sunt, nam repellat odit a aliquid mollittatibus atque.</p>
          <a href="#" class="read">learn more</a>
        </div>
      </div>
    </div>
  </div>
  <section id="skills">
    <h6 class="sub-title"> <span style="color:white;">MY</span><span> SKILLS</span></h6>    <section class="Skills" >
      {% comment %} <h6 class="sub-title">My <span>Skills</span></h6> {% endcomment %}
      <div class="container1">
      <div class="skill">
      <h1 class="heading1">Technical skill</h1>
      <li><h3><span><i class="fa-brands fa-python" style="color: #98e82f;"></i></span> Python</h3>
        <span class="bar"><span class="python"></span></span>
      </li>
      <li><h3><span><i class="fa-brands fa-html5" style="color: #d73f19;"></i></span> HTML</h3>
      <span class="bar"><span class="html"></span></span>
    </li>
    <li><h3><span><i class="fa-brands fa-css3-alt" style="color: #74C0FC;"></i></span> CSS</h3>
      <span class="bar"><span class="css"></span></span>
    </li>
    <li><h3><span><i class="fa-brands fa-js" style="color: #dfed16;"></i></span> JavaScript</h3>
      <span class="bar"><span class="javascript"></span></span>
    </li>
    <li><h3><span><i class="fa-brands fa-react" style="color: #1485dc;"></i></span> react</h3>
      <span class="bar"><span class="react"></span></span>
    </li>
    </div>
  </div>
  <div class="container1">
    <div class="skill">
      <h1 class="heading1">Tools</h1>

      <li><h3><span><i class="fa-brands fa-github" style="color: #ffffff;"></i></span> Github</h3>
      <span class="bar"><span class="Github"></span></span>
    </li>
    <li><h3><span><i class="fa-solid fa-code"></i></span> vs-code</h3>
      <span class="bar"><span class="vs-code"></span></span>
    </li>
    <li><h3><span><i class="fa-brands fa-wordpress"></i></span> Wrodpress</h3>
      <span class="bar"><span class="Wrodpress"></span></span>
    </li>
    <li><h3></h3>
      <span class="ba"><span class="python"></span></span>
    </li>
    <li><h3></h3>
      <span class="ba"><span class="react"></span></span>
    </li>
    <li><h3></h3>
      <span class="ba"><span class="react"></span></span>
    </li>
    </div>
  </div>
  </section>
</section>

  <section>
    <div class="projects" id="project">
      <div class="main-text" id="project">
        <h1 class="sub-title">some of <span>My work</span></h1>
        <div class="project-content">
          <div class="row">
            <img src="guess-my-num.png" alt="">
            <div class="layer">
              <h3>Guess-my-num</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, qui!</p>
              <a href=""><i class="fa-solid fa-arrow-up-right-from-square" style="color: #000000;"></i></a>
            </div>
          </div>
          <div class="row">
            <img src="Dice-Game.png" alt="">
            <div class="layer">
              <h3>Dice-Game</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, qui!</p>
              <a href=""><i class="fa-solid fa-arrow-up-right-from-square" style="color: #000000;"></i></a>
            </div>
          </div>
          <div class="row">
            <img src="to-do-list.png" alt="">
            <div class="layer">
              <h3>TO-DO-LIST</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, qui!</p>
              <a href="https://665ac85e8484c00dbee45130--luminous-medovik-154cf2.netlify.app/"><i class="fa-solid fa-arrow-up-right-from-square" style="color: #000000;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="contact" id="contact">
    <div class="contact-text">
        <h2>contact <span>Me</span></h2>
        <h4>Let's talk</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eligendi voluptas nulla perspiciatis magnam cum unde quam dolorem officia hic.</p>
        <div class="contact-list">
          <li><i class="fa-regular fa-paper-plane"></i> sanjaymullangi@gmail.com</li>
          <li><i class="fa-solid fa-phone"></i> 93927*****</li>
        </div>
        <div class="contact-icons">
        <!-- <a href=""><i class="fa-brands fa-facebook"></i></a> -->
        <a href="https://www.instagram.com/invites/contact/?igsh=ecdi3cay0oc8&utm_content=idp10p8"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sanjay-mullangi-2a0578290/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/sanjaykumar079"><i class="fa-brands fa-github"></i></a>
        <!-- <a href=""><i class="fa-brands fa-twitter"></i></a> -->
      </div>
    </div>

    <div class="contact-form" id="contact-form1">
      <form action="contact" method = 'post'>
        {% csrf_token %}
        <input name = 'name' type="text" placeholder="Enter your name" required>
        <input name = 'email' type="email" placeholder="Enter your Email" required>
        <input name = 'subject' type="text" placeholder="Enter your subject" required>

        <textarea name = 'message' name="" id="" cols="30" rows="10" placeholder="Type your message" required></textarea>
        <input type="submit" class="send" name="" id="">
      </form>
    </div>
  </section>

  <div class="last-text">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus placeat aliquid minus necessitatibus sapiente qui id eveniet?</p>
  </div>
  <a href="" class="top"><i class="fa-solid fa-arrow-up"></i></a>
</body>
<script> 
  const contact = document.querySelector('.send');
  const form = document.querySelector('#contact-form1');
  contact.addEventListener('click', function(){
  form.classList.remove('contact-form') 
  } )
  

</script>
</html>